.user-profile{
    background: url('../plugins/images/profile-menu-dark.png') center center/cover no-repeat;
}

.user-profile .user-pro-body .u-dropdown{
    color: #ffffff;
}

#section-line-1 .steamline .sl-left{
    margin-left: -7px;
}

#section-line-1, #section-line-2, #section-line-3{
    padding: 0;
}


.select2-container-multi .select2-choices .select2-search-choice{
    border: 1px solid #929291;
    border-radius: 60px;
    background: #edda54;
    padding: 10px 10px 10px 20px;
}

.select2-container-multi .select2-search-choice-close{
    left: 7px;
    top: 9px;
}

.task-checkbox{
    display: inline;
}

.task-completed{
    background: #defbe3;
}

.task-completed label{
    color: #c5c5c5;
}

.task-completed .edit-task{
    text-decoration: line-through;
}

/*task ease transition*/
#task-list-panel {
    -webkit-transition: width 0.3s ease, margin 0.3s ease;
    -moz-transition: width 0.3s ease, margin 0.3s ease;
    -o-transition: width 0.3s ease, margin 0.3s ease;
    transition: width 0.3s ease, margin 0.3s ease;
}

.stop-timer-modal{
    width: 170px;
}

#active-timer-modal{
    font-size: xx-large;
}

@media (min-width: 768px){
    .sidebar {
        padding-top: 83px;
    }
}
.client-panel-name{
    padding: 3px 0 0 8px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    background: #00c292;
}

.member-panel-name{
    padding: 3px 0 0 8px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    background: #f1c411;
}


.admin-panel-name{
    padding: 3px 0 0 8px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    background: #ed4040;
}

.project-admin-panel-name{
    padding: 3px 0 0 8px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    background: #5475ed;
}

.chat-main-box .chat-left-aside{
    border: 0;
}

.chat-right-aside{
    border-left: 1px solid rgba(120,130,140,.13);
}

.logo{
    overflow: hidden;
    display: block;
}

.logo b{
    float: left;
}

.logo span{
    display: block;
    margin-top: 19px;
}

.logo img{
    max-height:60px;
    display:inline-block;
    max-width:200px;
    line-height:60px;
    text-align:center;
    margin: 10px 0;
}
/*.admin-logo{*/
    /*background-color: #ed4040;*/
/*}*/
/*.member-logo{*/
    /*background-color: #f7c80c;*/
/*}*/
/*.client-logo{*/
    /*background-color: #00c292;*/
/*}*/
/*.project-admin-logo{*/
    /*background-color: #5475ed;*/
/*}*/

.error-box{background:url(../plugins/images/error-bg.jpg) center center no-repeat #fff!important;}

.login-register{
    background: url(../login-bg-2.jpg) center center/cover no-repeat!important;
}

.form-material .form-control, .form-material .form-control.focus, .form-material .form-control:focus{
    background-image: linear-gradient(#000000,#a4a3a5),linear-gradient(rgba(120,130,140,.13),rgba(120,130,140,.13));
}

.auth-logo{
    font-size: 25px;
    margin: 7px 10px;
}

.language-switcher{
    margin: 12px 5px 0 0;
}

.language-switcher .dropdown-toggle, .language-switcher .dropdown-toggle:hover, .language-switcher .dropdown-toggle:focus, .language-switcher .dropdown-toggle:active{
    background: rgba(255, 255, 255, 0.05);
    font-weight: 200;
    color: #FFFFFF;
}

.datepicker-dropdown{
    z-index: 9999 !important;
}

.vtabs{
    width: 100%;
}
.vtabs .tabs-vertical{
    width: 180px;
}

@media screen and (max-width: 58em){
    .sttabs nav a span {
        display: block;
    }
}

.table-responsive{
    overflow: visible;
}

.table-responsive .dropdown-menu{
    right: 0;
    left: auto;
}

.top-left-part a{
    height: 60px;
}

#ticket-messages{
    max-height: 350px;
    overflow-y: auto;
}

#footer-sticky-notes{
    right: 12px;
    background: rgba(0, 0, 0, 0.80);
    bottom: 0;
    position: fixed;
    width: 300px;
    z-index: 3;
}

#sticky-note-header{
    padding: 10px;
    color: #ffffff;
    border-bottom: 1px solid #ccc;
}

#sticky-note-list{
    padding: 0 5px;
    overflow-y: auto;
}

#sticky-note-list .sticky-note{
    margin: 5px 0;
    color: #FFFFFF;
}

#sticky-note-list .sticky-note .well{
    margin-bottom: 0;
}

#sticky-note-list .sticky-note .well hr{
    border-color: #FFFFFF;
}
